.nav-item{
    padding: 15px;
}
.navbar-nav .nav-item .nav-link{
    font-size: 20px;
    color: #fff;
}
.schoolName{
    font-size: 15px;
    font-weight: bold;
}
img{
    width: 100%;
    height: auto;
}
.solid{
    border: 1px solid #000;
}
.alignedLeft{
    border: 0.8px solid #000;
    width: 50%;
}
.dashed{
    border: 0.7px dashed #000;
}
#education{
    margin-top: 40px;
}
#main{
    margin-top: 100px;
}
@media only screen and (max-width: 576px) {
    .addMargin1{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 992px) {
    .addMargin2{
        margin-top: 30px;
    }
}
.list-group li{
    margin: 4px 0 6px 0;
}
.solid2{
    width: 30%;
}
#footerSection{
    background-color: rgba(2, 117, 216, 0.3);
}
#footerSection .container-fluid .row p{
    font-size: 16px;
}
.textField{
    width: 50%;
}
.messageField{
    width: 50%;
    resize: none;
}
.clickable-row{
    cursor: pointer;
}
#registerForm{
    display: none;
}