{% extends 'base.html.twig' %}

{% block title %}Contact me{% endblock %}


{% block body %}

    <main id="main" class="mb-5 ml-5 mr-5">

    {{ form_start(contactForm)}}
    {{ form_widget(contactForm)}}
    {{ form_end(contactForm)}}

    </main>
{% endblock %}
